.FirstSection {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.Quote {
  font-weight: 700;
  font-size: var(--font-large);
  width: 45rem;
  margin: var(--margin);
  align-self: baseline;
}

.Quote p {
  font-weight: 400;
  font-size: var(--font-medium);
  margin-top: 3rem;
  font-family: var(--secondary-font);
}

.btns {
  align-items: baseline;
  margin: 70px 0;
}

.Grid {
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: 1fr 1fr;
  margin-top: 5rem;
  align-self: stretch;
  /* grid-auto-rows: 30rem;
  width: 60rem; */
  /* max-width: 70rem; */
  margin-left: var(--margin);
  margin-right: var(--margin);
}

.GridItem {
  /* border-radius: 1rem; */
  overflow: hidden;
  /* for debugging */
  /* background-color: aqua; */
  font-size: var(--font-large);
  font-weight: 600;
}

.GridItem.Landscape {
  grid-column-start: 1;
  grid-column-end: 3;
}

.GridItem > img {
  object-fit: cover;
  width: 100%;
}
