.Footer {
  background-color: var(--bg-color-darken);
  position: relative;
  overflow: hidden;
}

.Quote {
  z-index: 1;
}

.LogoImg {
  position: absolute;
  height: 150%;
  top: 0;
  right: 5rem;
  /* background-color: aqua; */
  z-index: -999;
}
